<div
  class="h-100vh pt-50 pb-50"
  [class.component-dark-theme]="themeService.isDark()"
  [class.card-borderd-theme]="themeService.isCardBorder()"
  [class.card-border-radius]="themeService.isCardBorderRadius()"
  [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
  <div class="d-table">
    <div class="d-table-cell">
      <div class="tagus-form ms-auto me-auto">
        <div class="title">
          <!-- <div class="d-flex mb-10 align-items-center">
                        <h2 class="mb-0 me-30">Get Started</h2>
                        <img src="assets/img/logo-icon.png" alt="logo-icon" />
                    </div> -->
          <p>
            Don’t have an account?
            <a
              routerLink="/authentication/register"
              class="main-color fw-medium"
              >Register now!</a
            >
          </p>
        </div>
        <form class="form-field-full" [formGroup]="loginForm">
          <!-- <div
                        class="login-with-socials d-md-flex align-items-center justify-content-space-between"
                    >
                        <button
                            mat-flat-button
                            class="gray fw-semibold d-block me-5"
                        >
                            <img
                                src="assets/img/icon/google.png"
                                alt="google"
                            />
                            Login with Google
                        </button>
                        <button
                            mat-flat-button
                            class="tagus fw-semibold d-block ms-5"
                        >
                            <img
                                src="assets/img/icon/facebook.png"
                                alt="facebook"
                            />
                            Login with Facebook
                        </button>
                    </div> -->
          <div class="or text-center position-relative">
            <span class="fw-semibold fs-16">or</span>
          </div>
          <div class="bg-white border-radius pt-20 ps-20 pe-20">
            <div class="tagus-form-group">
              <label class="d-block mb-12 fw-semibold gray-color"
                >Email Address <span>*</span></label
              >
              <mat-form-field appearance="fill">
                <i class="ri-mail-line"></i>
                <mat-label>Enter email address</mat-label>
                <input matInput type="email" formControlName="email" required />
                <mat-error *ngIf="email?.invalid">
                  <span *ngIf="email?.errors?.['required']">
                    Please enter email
                  </span>
                  <span
                    *ngIf="!email?.errors?.['required'] && email?.errors?.['email']"
                  >
                    Please enter a valid email id
                  </span>

                  <span *ngIf="email?.errors?.['remote']">
                    <!-- {{ email?.errors?.remote }} -->
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="tagus-form-group">
              <label class="d-block mb-12 fw-semibold gray-color"
                >Password <span>*</span></label
              >
              <mat-form-field appearance="fill">
                <i class="ri-lock-password-line"></i>
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  type="password"
                  formControlName="password"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="password?.invalid">
                  <span *ngIf="password?.errors?.['required']">
                    Please enter password
                  </span>

                  <span *ngIf="password?.errors?.['remote']">
                    {{ password.errors?.['remote'] }}
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div
            class="d-flex info align-items-center justify-content-space-between"
          >
            <mat-checkbox class="gray-color">Remember me</mat-checkbox>
            <a routerLink="/" class="d-inline-block main-color fw-medium"
              >Forgot your password?</a
            >
          </div>
          <button
            mat-raised-button
            class="tagus d-block fw-semibold"
            (click)="login()"
            [disabled]="!!loginForm.invalid || !!isSubmitting"
          >
            <span *ngIf="!isSubmitting">Log In</span>
            <mat-spinner
              *ngIf="!!isSubmitting"
              diameter="25"
              color="primary"
            ></mat-spinner>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
