.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}
.example-month-picker .mat-calendar-arrow {
    display: none;
}
.example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
.example-full-width {
    width: 100%;
}