code {
    display: inline-block;
    color: var(--blackColor);

    .red {
        color: #d73a49;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.component-dark-theme {
    code {
        color: var(--whiteColor);
    }
}