// The CSS is Available on the Style.scss file because of Angular Material CSS didn't work in Component CSS.
.teamMembersListTable {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    table {
        th {
            white-space: nowrap;
        }
    }
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid var(--whiteColor);
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: var(--whiteColor);
    }
}