/* Structure */
.example-container {
    position: relative;
}
.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid var(--whiteColor);
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: var(--whiteColor);
    }
}
.example-loading-shade {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 56px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
}
.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-column-number, .mat-column-state {
    max-width: 64px;
}
.mat-column-created {
    max-width: 124px;
}