.sessions-device-box {
    .chart {
        margin: {
            top: -25px;
            bottom: -20px;
        };
    }
    .list {
        padding-left: 0;
        list-style-type: none;

        li {
            font-size: 13.5px;
            border-bottom: 1px solid #F7F7FC;
            padding: {
                top: 18px;
                left: 13px;
                bottom: 18px;
            };
            span {
                &:nth-child(3) {
                    padding-left: 15px;
                    position: relative;

                    i {
                        left: 0;
                        top: 50%;
                        line-height: 1;
                        font-size: 11px;
                        color: #A9A9C8;
                        margin-top: 0.5px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
            }
            &::before {
                left: 0;
                top: 7px;
                width: 8px;
                height: 8px;
                content: '';
                border-radius: 50%;
                position: absolute;
                background: #FF8A54;
                box-shadow: 0px 2.98686px 13.4409px rgba(126, 172, 235, 0.25);
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;

                &::before {
                    top: 25px;
                    background: #FFC4A9;
                }
            }
        }
    }
    &.component-dark-theme {
        .list {
            li {
                border-bottom-color: #1f2226;
            }
        }
    }
    &.component-rtl-enabled {
        .list {
            li {
                padding: {
                    left: 0;
                    right: 13px;
                };
                span {
                    &:nth-child(3) {
                        padding: {
                            left: 0;
                            right: 15px;
                        };
                        i {
                            left: auto;
                            right: 0;
                        }
                    }
                }
                &::before {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {

    .sessions-device-box {
        .list {
            li {
                font-size: var(--fontSize);
                padding: {
                    left: 15px;
                };
                span {
                    &:nth-child(3) {
                        padding-left: 20px;
    
                        i {
                            font-size: 13px;
                            margin-top: 0.5px;
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .list {
                li {
                    padding: {
                        left: 0;
                        right: 15px;
                    };
                    span {
                        &:nth-child(3) {
                            padding: {
                                left: 0;
                                right: 20px;
                            };
                        }
                    }
                }
            }
        }
    }

}