<div
  class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between"
>
  <h5 class="mb-0">Change Password</h5>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Change Password</li>
  </ol>
</div>
<mat-card class="mb-25 tagus-card h-90vh">
  <mat-card-content>
    <div class="d-table">
      <div class="d-table-cell">
        <div class="tagus-form ms-auto me-auto">
          <div class="title">
            <!-- <div class="d-flex mb-10 align-items-center">
                        <h2 class="mb-0 me-30">Get Started</h2>
                        <img src="assets/img/logo-icon.png" alt="logo-icon" />
                    </div> -->
            <p></p>
          </div>
          <form class="form-field-full" [formGroup]="changepasswordForm">
            <!-- <div
                        class="login-with-socials d-md-flex align-items-center justify-content-space-between"
                    >
                        <button
                            mat-flat-button
                            class="gray fw-semibold d-block me-5"
                        >
                            <img
                                src="assets/img/icon/google.png"
                                alt="google"
                            />
                            Login with Google
                        </button>
                        <button
                            mat-flat-button
                            class="tagus fw-semibold d-block ms-5"
                        >
                            <img
                                src="assets/img/icon/facebook.png"
                                alt="facebook"
                            />
                            Login with Facebook
                        </button>
                    </div>
          <div class="or text-center position-relative">
            <span class="fw-semibold fs-16">or</span>
          </div> -->

            <div class="bg-white border-radius pt-20 ps-20 pe-20">
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color"
                  >Old Password <span>*</span></label
                >
                <mat-form-field appearance="fill">
                  <i class="ri-user-3-line"></i>
                  <mat-label>Enter old password</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="oldpassword"
                    required
                  />
                  <mat-error *ngIf="oldpassword?.invalid">
                    <span *ngIf="oldpassword?.errors?.['required']">
                      Please enter old password
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color"
                  >Password <span>*</span></label
                >
                <mat-form-field appearance="fill">
                  <i class="ri-lock-password-line"></i>
                  <mat-label>Enter your password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    type="password"
                    formControlName="password"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="password?.invalid">
                    <span *ngIf="password?.errors?.['required']">
                      Please enter password
                    </span>

                    <span *ngIf="password?.errors?.['remote']">
                      {{ password.errors?.['remote'] }}
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color"
                  >Confirm Password <span>*</span></label
                >
                <mat-form-field appearance="fill">
                  <i class="ri-lock-password-line"></i>
                  <mat-label>Enter your confirm password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    type="password"
                    formControlName="confirmPassword"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="confirmPassword?.invalid">
                    <span
                      *ngIf="
                        changepasswordForm
                          .get('confirmPassword')
                          ?.hasError('required')
                      "
                    >
                      Please enter
                    </span>
                    <span
                      *ngIf="
                        changepasswordForm
                          .get('confirmPassword')
                          ?.hasError('confirm')
                      "
                    >
                      Confirm password doesn't match
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-raised-button
              class="tagus d-block fw-semibold"
              (click)="login()"
              [disabled]="!!changepasswordForm.invalid || !!isSubmitting"
            >
              <span *ngIf="!isSubmitting">Change Password</span>
              <mat-spinner
                *ngIf="!!isSubmitting"
                diameter="25"
                color="primary"
              ></mat-spinner>
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
