.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid var(--whiteColor);
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: var(--whiteColor);
    }
}
table, .table {
    width: 100%;
    border-collapse: collapse;

    thead {
        tr {
            th {
                background-color: #f7faff;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;
                position: relative;
                padding: 15px 20px;

                &::after {
                    top: 50%;
                    right: 0;
                    width: 1px;
                    content: '';
                    height: 17px;
                    position: absolute;
                    background-color: #e7ebf5;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                &:first-child {
                    text-align: start;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 18px 20px;
                text-align: center;
                white-space: nowrap;
                border-bottom-color: #f7faff;
                border-bottom: 1px solid #F7FAFF;

                .user-info {
                    padding-right: 15px;
                    
                    img {
                        width: 47px;
                        margin-left: 8px;
                        border-radius: 50%;
                    }
                    .title {
                        margin-left: 12px;

                        h5 {
                            font-size: 16px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                    .fm-checkbox {
                        margin-left: -10px;
                    }
                }
                .dot-btn {
                    width: 30px;
                    line-height: 30px;
                    padding: 0 !important;
                    height: 30px !important;
                    color: var(--blackColor);
                    font-size: 18px !important;
                    min-width: unset !important;
                    border-radius: 4px !important;
                    display: inline-block !important;
                    background-color: #F3F6F9 !important;
                }
                .badge {
                    font-size: 14px;
                    color: #00B69B;
                    border-radius: 4px;
                    padding: 4px 13px 5px;
                    background: rgba(0, 182, 155, 0.1);

                    &.blocked {
                        color: #EE368C;
                        background: rgba(238, 54, 140, 0.1);
                    }
                }
                &:first-child {
                    text-align: start;
                }
            }
        }
    }
}
.component-dark-theme {
    .table-responsive {
        &::-webkit-scrollbar-thumb {
            border-color: #1f2226;
            background-color: rgba(255, 255, 255, .2);
        }
        &::-webkit-scrollbar-track {
            background-color: #1f2226;
        }
    }
    table, .table {
        thead {
            tr {
                th {
                    background-color: #1d2024;
    
                    &::after {
                        background-color: #363636;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom-color: #1f2226;
                    
                    .dot-btn {
                        color: var(--whiteColor);
                        background-color: #1d2024 !important;
                    }
                }
            }
        }
    }
}
.component-rtl-enabled {
    table, .table {
        thead {
            tr {
                th {
                    &::after {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    .user-info {
                        padding: {
                            right: 0;
                            left: 15px;
                        };
                        img {
                            margin: {
                                left: 0;
                                right: 8px;
                            };
                        }
                        .title {
                            margin: {
                                left: 0;
                                right: 12px;
                            };
                        }
                        .fm-checkbox {
                            margin: {
                                left: 10px;
                                right: -10px;
                            };
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    table, .table {
        tbody {
            tr {
                td {
                    padding: 15px 20px;

                    .user-info {
                        padding-right: 35px;

                        .title {
                            h5 {
                                font-size: 14px;
                            }
                            span {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    .component-rtl-enabled {
        table, .table {
            tbody {
                tr {
                    td {
                        .user-info {
                            padding: {
                                right: 0;
                                left: 35px;
                            };
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    table, .table {
        tbody {
            tr {
                td {
                    .user-info {
                        padding-right: 35px;
                    }
                }
            }
        }
    }
    .component-rtl-enabled {
        table, .table {
            tbody {
                tr {
                    td {
                        .user-info {
                            padding: {
                                right: 0;
                                left: 35px;
                            };
                        }
                    }
                }
            }
        }
    }

}