.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid var(--whiteColor);
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: var(--whiteColor);
    }
}
table, .table {
    width: 100%;
    border-collapse: collapse;

    thead {
        tr {
            th {
                background-color: #f7faff;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;
                position: relative;
                padding: 15px 20px;

                &::after {
                    top: 50%;
                    right: 0;
                    width: 1px;
                    content: '';
                    height: 17px;
                    position: absolute;
                    background-color: #e7ebf5;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 15px 20px;
                text-align: center;
                white-space: nowrap;
                border-bottom-color: #f7faff;
                border-bottom: 1px solid #F7FAFF;

                .product-info {
                    img {
                        width: 48px;
                        margin-right: 12px;
                        border-radius: 8px;
                    }
                }
                .btn-box {
                    button, a {
                        padding: 10px 18px 11px !important;
                        font: {
                            weight: 600 !important;
                            size: 14px !important;
                        };
                    }
                    a {
                        margin-right: 8px;
                    }
                    button {
                        margin-left: 8px;
                    }
                }
            }
            &.total {
                td {
                    font-size: 18px;
                }
            }
        }
    }
}
.component-dark-theme {
    .table-responsive {
        &::-webkit-scrollbar-thumb {
            border-color: #1f2226;
            background-color: rgba(255, 255, 255, .2);
        }
        &::-webkit-scrollbar-track {
            background-color: #1f2226;
        }
    }
    table, .table {
        thead {
            tr {
                th {
                    background-color: #1d2024;
    
                    &::after {
                        background-color: #363636;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom-color: #1f2226;
                }
            }
        }
    }
}
.component-rtl-enabled {
    table, .table {
        thead {
            tr {
                th {
                    &::after {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    .product-info {
                        img {
                            margin: {
                                right: 0;
                                left: 12px;
                            };
                        }
                    }
                    .btn-box {
                        a {
                            margin: {
                                right: 0;
                                left: 8px;
                            };
                        }
                        button {
                            margin: {
                                left: 0;
                                right: 8px;
                            };
                        }
                    }
                }
            }
        }
    }
}